/* Navbar */


.container-fluid {
    background-color: aquamarine;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

/* logo */

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

/* background-image styling*/

body {
    background-image: url(../images/cooking2.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    margin-top: 20px;
}



