/* Navbar */


.container-fluid {
    background-color: aquamarine;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

/* logo */

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

/* background-image styling*/

body {
    background-image: url(../images/cooking2.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    margin-top: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    position: center;
    padding-top: 180px;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
    box-shadow: inset;

}

.container text {
    position: relative;
    color: white;
}




#icon {
    color: white;
}

.footer {
    text-align: center;
    padding: 4px;
    background-color: aquamarine;
    color: black;
    position: sticky;
}



